$full-black: #000000;
$full-white: #fff;
$black: #001a44;
$black-shade1: #161a24;
$gray: #69767b;
$gray1: #606c74;
$lightgrey: #fafbfc;
$lightgrey1: #e6edf0;
$lightgrey2: #e5ebf4;
$lightgrey3: #e9ecef;
$lightgrey4: #c8d4d9;
$lightgrey5: #f8f8f8;
$lightgrey6: #f5f7fa;
$lightergrey: #c8d4d9;
$blue: #0055dd;
$skyblue: #4990ff;
$darkblue: #00358a;
$error: #ff0000;
$button-primary-color: #4990ff;
$button-danger-color: #ff1f00;
$drop-down-button-focus: #f5f7fa;
$quote-author-text-color: #69767b;
$record-selected: #eaf2ff;
$bg-success: #009f23;
$basket-discount: #00630a;
$sucess: #04BFA5;
$warning: #ff8a00;

$input-border-radius: 40px;
$bazaar-regular: 'bazaar-regular', Roboto, Helvetica Neue, sans-serif;
$bazaar-medium: 'bazaar-medium', Roboto, Helvetica Neue, sans-serif;
$bazaar-quote-black: 'playfair_displayblack', Roboto, Helvetica Neue, sans-serif;
$bazaar-quote-regular: 'playfair_displayregular', Roboto, Helvetica Neue,
	sans-serif;

$medium-view: '1024px';
$small-view: '900px';
$mobile-view: '600px';