
@import 'src/assets/scss/Variables.scss';
@import 'src/assets/scss/Extends.scss';

#user-info-container {
        #title {
            font-size: toRem(18);
        }
        #heading {
            font-size: toRem(14);
        }
        #sub-heading {
            color: gray;
            font-size: toRem(14);
        }
 }
