.dashboard {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.kpi-card {
    width: 200px;
    height: 120px;
    color: white;
    text-align: center;
    border-radius: 10px;
}

.kpi-title {
    font-size: 16px;
}

.kpi-value {
    font-size: 24px;
    font-weight: bold;
}
