@import 'src/assets/scss/Variables.scss';
@import 'src/assets/scss/Extends.scss';

.data-table-paper {
	border-radius: toRem(4);
	.load-more {
		text-transform: uppercase;
		padding-top: toRem(16);
		padding-bottom: toRem(16);
		width: 100%;
		text-align: center;
		font-size: toRem(14);
		color: #69767b;
		cursor: pointer;
		background-color: $lightgrey6;
	}
}
